@model BDMI.Model.Review


@if (Model != null)
{
    <ol class="breadcrumb">
        <li><a asp-action="Index">Reviews</a> ----</li>
        <li class="active">@Model.Title</li>
    </ol>

    <div>
        
        <div class="card">
            <div class="card-header">
                <p>@Html.DisplayFor(model => model.Title)</p> For : <span>@Html.DisplayFor(model => model.Movie.Title)</span>
            </div>
            <div class="card-body">
                <p  class="card-text"> @Html.DisplayFor(model => model.Content) </p>
                <p class="fw-bold" class="card-text"> @Html.DisplayFor(model => model.Rating) / 10</p>
            </div>
            <div class="card-footer">
                <p class="card-text"> By:  @Html.DisplayFor(model => model.CreatedByUserId)
                </p>
            </div>
        </div>



    </div>

}
else
{
    <div class="alert alert-danger">
        Wrong review id
    </div>

}